log
.coverage

__pycache__/*
chickadee_api/__pycache__/*

chickadee_api/db/__pycache__/*
chickadee_api/db/data/*
!chickadee_api/db/data/load_visits.py

chickadee_api/views/__pycache__/*

/test/__pycache__/*

